@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #061B2D;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #061B2D;
}
::-webkit-scrollbar-thumb {
  background: #00B3A4;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00F0FF;
}
